body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.page {
    overflow: hidden;
}
    
/* Map */
.map {
    position: relative;
}

.region_holder {
    position: relative;
}

.region_item {
    text-decoration: none;
    position: absolute;
    opacity: 0;
    transition: opacity .2s linear;
}

.region_name1, .region_name2, .region_name3, .region_name4, .region_name5, .region_name6, .region_name7, .region_name8, .region_name9, .region_name10, .region_name11, .region_name12, .region_name13, .region_name14, .region_name15, .region_name16, .region_name17, .region_name18, .region_name19, .region_name20, .region_name21, .region_name21, .region_name22, .region_name23, .region_name24, .region_name25, .region_name26 
{
    position: absolute; 
    color: #FFFF;
    background: #000000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: .3rem transparent;
    font-size: 30px;
    display: flex;
    align-items: flex-start;
}

.region_name1 {
    top: 90px;   
}

.region_item:nth-of-type(1) {
    left: 755px;
    top: 232.5px;
    z-index: 999;
}

.region_name2 {
    top: 90px;
    left: 40px;
}

.region_item:nth-of-type(2) {
    left: 805px;
    top: 289.5px;
    z-index: 999;
}

.region_name3 {
    top: 70px;
    left: 35px;
}

.region_item:nth-of-type(3) {
    left: 642px;
    top: 443px;
}

.region_name4 {
    top: 70px;
    left: 30px;
}

.region_item:nth-of-type(4) {
    left: 648px;
    top: 630px;
    z-index: 999;
}

.region_name5 {
    top: 13px;
    left: -119px;
}

.region_item:nth-of-type(5) {
    left: 429px;
    top: 31.5px;
    z-index: 999;
}

.region_name6 {
    top: 66px;
    left: 32px;
}

.region_item:nth-of-type(6) {
    left: 449px;
    top: 629px;
    z-index: 999;
}

.region_name7 {
    top: 15px;
    left: -5px;
}

.region_item:nth-of-type(7) {
    left: 691px;
    top: 232px;
    z-index: 999;
}

.region_name8 {
    top: 66px;
    left: 32px;
}

.region_item:nth-of-type(8) {
    left: 579px;
    top: 75px;
}

.region_name9 {
    top: 35px;
    left: -121px;
}

.region_item:nth-of-type(9) {
    left: 337px;
    top: 471px;
    z-index: 998;
}

.region_name10 {
    top: 42px;
    left: 66px;
}

.region_item:nth-of-type(10) {
    left: 870px;
    top: 399px;
    z-index: 999;
}

.region_name11 {
    top: 62px;
    left: 39px;
}

.region_item:nth-of-type(11) {
    left: 541px;
    top: 271px;
}

.region_name12 {
    top: 62px;
    left: 39px;
}

.region_item:nth-of-type(12) {
    left: 432px;
    top: 23px;
}

.region_name13 {
    top: 205px;
    left: 194px;
}

.region_item:nth-of-type(13) {
    left: 894px;
    top: 217px;
}

.region_name14 {
    top: 46px;
    left: 19px;
}

.region_item:nth-of-type(14) {
    left: 419px;
    top: 200px;
}

.region_name15 {
    top: 46px;
    left: -6px;
}

.region_item:nth-of-type(15) {
    left: 272px;
    top: 168px;
}

.region_name16 {
    top: 77px;
    left: 48px;
}

.region_item:nth-of-type(16) {
    left: 248px;
    top: 343px;
}

.region_name17 {
    top: 123px;
    left: -14px;
}

.region_item:nth-of-type(17) {
    left: 388px;
    top: 674px;
    z-index: 999;
}

.region_name18 {
    top: 107px;
    left: -9px;
}

.region_item:nth-of-type(18) {
    left: 457px;
    top: 465px;
}

.region_name19 {
    top: 31px;
    left: -119px;
}

.region_item:nth-of-type(19) {
    left: 589px;
    top: 572px;
}

.region_name20 {
    top: 75px;
    left: 43px;
}

.region_item:nth-of-type(20) {
    left: 832px;
    top: 528px;
}

.region_name21 {
    top: 75px;
    left: 28px;
}

.region_item:nth-of-type(21) {
    left: 951px;
    top: 471px;
    z-index: 999;
}

.region_name22 {
    top: 75px;
    left: 39px;
}

.region_item:nth-of-type(22) {
    left: 80px;
    top: 261px;
}

.region_name23 {
    top: 70px;
    left: 92px;
}

.region_item:nth-of-type(23) {
    left: 516px;
    top: 762px;
    z-index: 999;
}

.region_name24 {
    top: 8px;
    left: 12px;
}

.region_item:nth-of-type(24) {
    left: 1357px;
    top: 342px;
    z-index: 999;
}

.region_name25 {
    top: 8px;
    left: 12px;
}

.region_item:nth-of-type(25) {
    left: 481px;
    top: 102px;
    z-index: 999;
}

.region_name26 {
    top: 8px;
    left: 12px;
}

.region_item:nth-of-type(26) {
    left: 417px;
    top: 520px;
    z-index: 999;

}


.region_item:hover {
    opacity: 1;
}

.crimea_image {
    position: relative;
    z-index: -1;
    background: url(../images/map1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.crimea_map {
    height: 100vh;
    width: 100%;
    background: url(../images/crimea.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.map_button {
    position: absolute;
    z-index: 999;
    bottom: 50px;
    right: 115px;
}

.map_btn {
    text-decoration: none;
    background: #52A9D6;
    color: #38f988;
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #590B0B;

    transition: background .3s ease;
}

.map_btn:hover {
    background: #590B0B;
}

.map_text {
    position: absolute;
    z-index: 998;
    top: 20px;
    bottom: 20px;
    right: 20px;
    width: 350px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
}

.map_txt {
    margin: 20px;
}
@media (max-width: 1366px) {
    .region_name1, .region_name2, .region_name3, .region_name4, .region_name5, .region_name6, .region_name7, .region_name8, .region_name9, .region_name10, .region_name11, .region_name12, .region_name13, .region_name14, .region_name15, .region_name16, .region_name17, .region_name18, .region_name19, .region_name20, .region_name21, .region_name21, .region_name22, .region_name23, .region_name24, .region_name25 {
        font-size: 20px; /* Уменьшаем размер шрифта */
    }

    .map_btn {
        font-size: 14px;  /* Уменьшаем размер шрифта */
        padding: 15px;    /* Уменьшаем внутренний отступ */
    }

    .map_text {
        width: 250px; /* Уменьшаем ширину блока с текстом */
    }

    .map_button {
        bottom: 56px; /* Уменьшаем отступ снизу */
        right: 80px;  /* Уменьшаем отступ справа */
    }

    .crimea_map {
        background: url(../images/адаптивкакарта.png);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh; /* Устанавливаем автоматическую высоту для изображения */
    }
}

/* Дополнительные стили для адаптации позиций */
@media (max-width: 1366px) {

    .region_images {
        width: 69%;
        height: 69%;
    }
    .region_item:nth-of-type(1) {
        width: 69%;
        height: 69%;
        left: 555px;
        top: 232.5px;
    }

    .region_item:nth-of-type(2) {
        width: 69%;
        height: 69%;
        left: 605px;
        top: 289.5px;
    }

    .region_item:nth-of-type(3) {
        width: 69%;
        height: 69%;
        left: 442px;
        top: 443px;
    }

    .region_item:nth-of-type(4) {
        width: 69%;
        height: 69%;
        left: 448px;
        top: 630px;
    }

    .region_item:nth-of-type(5) {
        width: 69%;
        height: 69%;
        left: 229px;
        top: 31.5px;
    }

    .region_item:nth-of-type(6) {
        width: 69%;
        height: 69%;
        left: 249px;
        top: 629px;
    }

    .region_item:nth-of-type(7) {
        width: 69%;
        height: 69%;
        left: 491px;
        top: 232px;
    }

    .region_item:nth-of-type(8) {
        width: 69%;
        height: 69%;
        left: 379px;
        top: 75px;
    }

    .region_item:nth-of-type(9) {
        width: 69%;
        height: 69%;
        left: 137px;
        top: 471px;
    }

    .region_item:nth-of-type(10) {
        width: 69%;
        height: 69%;
        left: 670px;
        top: 399px;
    }

    .region_item:nth-of-type(11) {
        width: 69%;
        height: 69%;
        left: 341px;
        top: 271px;
    }

    .region_item:nth-of-type(12) {
        width: 69%;
        height: 69%;
        left: 232px;
        top: 23px;
    }

    .region_item:nth-of-type(13) {
        width: 69%;
        height: 69%;
        left: 694px;
        top: 217px;
    }

    .region_item:nth-of-type(14) {
        width: 69%;
        height: 69%;
        left: 219px;
        top: 200px;
    }

    .region_item:nth-of-type(15) {
        width: 69%;
        height: 69%;
        left: 72px;
        top: 168px;
    }

    .region_item:nth-of-type(16) {
        width: 69%;
        height: 69%;
        left: 48px;
        top: 343px;
    }

    .region_item:nth-of-type(17) {
        width: 69%;
        height: 69%;
        left: 188px;
        top: 674px;
    }

    .region_item:nth-of-type(18) {
        width: 69%;
        height: 69%;
        left: 257px;
        top: 465px;
    }

    .region_item:nth-of-type(19) {
        width: 69%;
        height: 69%;
        left: 389px;
        top: 572px;
    }

    .region_item:nth-of-type(20) {
        width: 69%;
        height: 69%;
        left: 632px;
        top: 528px;
    }

    .region_item:nth-of-type(21) {
        width: 69%;
        height: 69%;
        left: 751px;
        top: 471px;
    }

    .region_item:nth-of-type(22) {
        width: 69%;
        height: 69%;
        left: 80px;
        top: 261px;
    }

    .region_item:nth-of-type(23) {
        width: 69%;
        height: 69%;
        left: 316px;
        top: 762px;
    }

    .region_item:nth-of-type(24) {
        width: 69%;
        height: 69%;
        left: 1157px;
        top: 342px;
    }

    .region_item:nth-of-type(25) {
        width: 69%;
        height: 69%;
        left: 281px;
        top: 102px;
    }
}